.footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 1;
    font-family: $En-font;
    .common-inner{
        display: flex;
        flex-direction: column;
        color: #ecece4;
        justify-content: center;
        background: #ACB4B8;
        height: 100vh;
    }
    
    .profile-wrap{
        padding: 9vw 9vw 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: relative;
        .profile-box{position: relative;}
        .profile-txt{
            font-size: 3.5rem;
            font-weight: 400;
            font-weight: 600;
            line-height: 1;
            border-bottom: 1px solid #37474F;
            color: #37474F;
            padding-bottom: 9vh;
            display: block;
            // font-family: $En-font;
        }
        .arrow{
            position: absolute;
            right: 0;
            bottom: calc(clamp(1.5em, 4vw, 2.5em) * 1.5);
            display: inline-block;

            svg{
                display: inline-block;
                transform: rotate(90deg);
            }
        }

        .btn-work{
            position: absolute;
            display: block;
            // width: clamp(4em, 6vw, 6em);
            // height: clamp(4em, 6vw, 6em);
            width: 4.5rem;
            height: 4.5rem;
            font-size: 0.55rem;
            line-height: 0.9;
        
            border-radius: 50%;
            background: #FF6F61;
            border: 0;
            color: #fff;
            font-weight: 500;
            text-align: center;
            bottom: -38%;
            right: 5%;
            overflow: hidden;
        }
    }
    .contact-box{
        padding-top: 9vh;

        .contact-desc{
            box-shadow: inset 0px 0px 0px 1px rgb(255 255 255 / 20%);
            position: relative;
            display: inline-block;
            background: transparent;
            border-radius: 2.125em;
            min-width: 1em;
            height: 2.25em;
            overflow: hidden;
            color: #fff;
            margin-right: 0.2rem;

            .btn-txt{
                padding: 0 0.8rem;
                font-size: 0.6rem;
                position: relative;
                z-index: 9;

                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
            }
        }
    }
    .footer-bott{
        color: #666E72;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.55rem;
        margin-bottom: 2vh;
        letter-spacing: -0.25px;
        font-weight: 500;

        .link-box{
            a{
                &:first-child{margin-right: 0.2rem;}
            }
        }
    }
}