.loding-page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #413B34;
    z-index: 9999;
    // height: 0;
    .logo-text{
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
        color: #ecece4;
        font-size: 8.5rem;
        text-transform: uppercase;
        line-height: 0.975;
        letter-spacing: 0.3rem;
        z-index: 9;
        box-sizing: border-box;
        justify-content: center;
        font-family: $En-font;

        .por{}
        .t {
            transform: translateX(47vw);
            // transform: translate(0);
        }

        .fo {
            transform: translate(-46vw, 55vh);
            // transform: translate(0);
        }

        .lio {
            transform: translateY(55vh);
            // transform: translate(0);
        }

        @include mobile{
            display: none;
        }
    }
    .m-logo-text{
        display: none;
    }
    .info-txt {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #ecece4;
        font-size: 0.8rem;
        line-height: 1.2;
        opacity: 1;
        z-index: 1;
        font-family: 'PP_Hatton';

        // &-top {
        //     font-family: $font-clash;
        // }

        // &-bottom {
        //     font-family: $font-daily;
        // }
    }
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;

    .logo-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: $main-color;
        transition: all 0.5s;
        &.on{
            color: $main-black;
            .nav-area{display: none;}
        }
        .nav-area{
            font-size: 0.65rem;
            letter-spacing: -0.02em;
            font-weight: 500;

            .link-nav+.link-nav{ margin-left: 0.5rem;}
        }
    }
    .logo{
        line-height: 1;

        .link-logo{
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: 600;
            display: block;
            font-weight: 600;
            letter-spacing: -.02em;
            font-family: $En-font;
        }
    }

    .btn-menu{
        position: fixed;
        width: 2.2rem;
        height: 2.2rem;
        z-index: 9999;
        background: $main-black;
        border-radius: 50%;
    
        transition: transform .4s cubic-bezier(0.34, 1.5, 0.64, 1);
        transform: translateY(0%) scale(0);
        will-change: transform;
    
        top: 0.5rem;
        right: 1rem;
        overflow: hidden;
        justify-content: center;

        &.on{
            transform: translateY(0%) scale(1, 1);
            opacity: 1;
        }

        .line-box{
            position: relative;
            display: block;
            width: 23%;
            height: 8%;
            opacity: 1;
            box-sizing: border-box;

            .btn-line{
                display: block;
                position: absolute;
                left: 50%;
                height: 1px;
                width: 130%;
                transform: translate(-50%, -50%);
                transition: all .3s cubic-bezier(.7, 0, .3, 1);
                background: #fff;
            }
            .line-top{
                top: 0;
                transform: translate(-50%, -50%);
            }
            .line-bottom{
                top: 100%;
                transform: translate(-50%, -50%);
            }
        }
        &.active{
            .line-top{
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            .line-bottom{
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }


    .menu-wrap{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        // background: #ecece4;
        background: #212529;
        z-index: 99;
        transform: translateY(-100%);
        padding: 0 30px 0 30px;
        box-sizing: border-box;
        text-align: center;
        .menu-box{
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-family: 'PP_Hatton';
            
            .menu-list{
                font-size: 3.6rem;
                font-weight: 600;

                .menu-item{
                    // line-height: 11rem;
                    overflow: hidden;
                    line-height:1.1;
                    color: #ecece4;
                    a{
                        opacity: 0;
                        transform: translateY(100%);
                        position: relative;
                        transition: opacity .4s;
                        display: inline-block;
                        &:hover{
                            color: #212529;
                            // opacity: .75;
                            transition: color 0.6s cubic-bezier(0.115, 0.905, 0.32, 1);
                            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
                        }

                        &::after{
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: -0.5em;
                            left: 50%;
                            bottom: 0;
                            width: 100%;
                            height: 1px;
                            background: #fff;
                            transform: translate(-50%, -50%) scale(0, 1);
                            transition: all .3s cubic-bezier(.7, 0, .3, 1);
                            transform-origin: left;
                        }
                        &:hover::after{
                            transform: translate(-50%, -50%) scale(1);
                        }
                    }
                    &+.menu-item{margin-top: 0.2rem;}
                    .num{
                        font-size: 1rem;
                        font-weight: 400;
                        position: absolute;
                        right: 100%;
                        // top: 0;
                        // left: 100%;
                    }
                }
            }
            .social-list{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.8rem;
                gap: 1.5rem;
                margin-top: 1rem;
                overflow: hidden;
                color: #ecece4;
                .social-item{
                    // transform: translateY(45px);
                    transform: translateY(100%);

                    &::after{
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: -0.5em;
                        left: 50%;
                        bottom: 0;
                        width: 100%;
                        height: 1px;
                        background: #fff;
                        transform: translate(-50%, -50%) scale(0, 1);
                        transition: all .3s cubic-bezier(.7, 0, .3, 1);
                        transform-origin: left;
                    }
                    &:hover::after{
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
        }

    }
}