@font-face {
    // font-family: 'Pretendard-Light';
    font-family: 'Pretendard';
    font-weight: 200;
    src: url(../fonts/Pretendard-Light.subset.woff2);
  }
  
  @font-face {
    // font-family: 'Pretendard-Regular';
    font-family: 'Pretendard';
    font-weight: 300;
    src: url(../fonts/Pretendard-Regular.subset.woff2);
  }
  
  @font-face {
    // font-family: 'Pretendard-Medium';
    font-family: 'Pretendard';
    font-weight: 500;
    src: url(../fonts/Pretendard-Medium.subset.woff2);
  }
  
  @font-face {
    // font-family: 'Pretendard-Bold';
    font-family: 'Pretendard';
    font-weight: bold;
    src: url(../fonts/Pretendard-Bold.subset.woff2);
  }