//_typo.scss에서 작성 된 것을 선언

$preten-light : 'Pretendard-Light', sans-serif;
$preten-regular : 'Pretendard-Regular', sans-serif;
$preten-medium : 'Pretendard-Medium', sans-serif;
$preten-bold : 'Pretendard-Bold', sans-serif;