.sc-intro{
    height: 100vh;
    // background-color: rgb(102, 102, 102);

    .video-wrap{
        width: 100%;
        height: 100%;

        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.sc-work{
    width: 100%;
    height: 100vh;
    position: relative;
    .work-desc{
        // line-height: 0.8;
        text-align: center;
        letter-spacing: -0.2vw;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vw;
        width: 100%;
    }
}
.sc-project{

    .common-inner{
        height: 400vh;
        display: flex;
        flex-direction: column;
    }

    .project-area{
        position: sticky;
        top: 0;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .title-list{
            overflow: hidden;
            height: 25%;
            
            .title-item{
                // height: 17%;
            }
            a{
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 1rem 0 1rem;
                line-height: 0.975;
                .p-title {
                        position: relative;
                        font-size: 4rem;
                        // font-family: "Surt-Regular", sans-serif;
                        letter-spacing: -0.4rem;
                        // line-height: 0.975;
                        color: #484036;
                    }
                .title-num{
                    font-size: 1.3rem;
                    margin-left: 1rem;
                    margin-bottom: 3rem;
                    color: #484036;
                }
            }
        }

        .project-wrap{
            position: relative;
            overflow: hidden;
            flex: 1;
            height: 100%;
            .img-box{
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 90vh;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
                &:nth-child(1){z-index: 5;}
                &:nth-child(2){z-index: 4;}
                &:nth-child(3){z-index: 3;}
                // &:nth-child(2){}
            }
        }
    }
}

.sc-ing{

    .content-list{
        border-top: 1px solid rgb(95 94 94 / 56%);
        
        .content-item{
    
            border-bottom: 1px solid rgb(95 94 94 / 56%);
            
            a{
                display: block;
                padding: 43px 0 50px 54px;
                // color: #ACB4B8;
                &:hover{
                    background: linear-gradient(90deg, rgb(172 181 183 / 46%) 50%, transparent 100%);
                    // color: #fff
                }
            }
        }
    }
    .text-box{

        .title{
            font-size: clamp(1.6rem, 1.6vw, 2rem);
            // font-size: 45px;
            font-weight: 500;
            // text-transform: uppercase;
            i{
                font-size: clamp(.8rem, .6vw, 1.2rem);
                line-height: 1.2;
            }
        }
        .desc{
            font-size: clamp(.8rem, .6vw, 1.2rem);
            margin-top: 50px;
            line-height: 24px;
        }
        .hash{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .8em;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: .8em;
            opacity: 0.5;
        }
    }
}

.sc-roll{
    margin-top: 20vh;
    .slide-list{
        display: flex;
        // align-items: center;
        gap: 20px;
        .slide-item{
            flex: 1;

            .slide-title{
                font-size: 0.9rem;
                font-weight: 600;            
            }
            .info{
                font-size: 0.7rem;
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }
}
