.sc-intro {
  height: 100vh;
  // background-color: rgb(102, 102, 102);

  .video-wrap {
    width: 100%;
    height: 100%;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.sc-about {
  width: 100%;
  height: 100vh;
  position: relative;

  .work-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    gap: 0.5rem;
    
    .work-tit {
      // opacity: 0;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: -0.5px;
      // width: 70%;
      line-height: 1.25;
      overflow: hidden;
      font-family: $En-font;
      // transition: opacity 0.3s;
    }

    // .work-desc{opacity: 0;}
  }

  // .work-desc{
  //     // line-height: 0.8;
  //     text-align: center;
  //     letter-spacing: -0.2vw;
  //     position: absolute;
  //     display: block;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     font-size: 3vw;
  //     width: 100%;
  // }
}

.sc-project {

  .common-inner {
    height: 400vh;
    display: flex;
    flex-direction: column;
  }

  .project-area {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .title-list {
      overflow: hidden;
      // height: 22%;
      height: 20%;

      .title-item {
        display: flex;
        align-items: center;
        padding: 1rem 0 1rem;
        line-height: 0.975;

        .p-title {
          position: relative;
          font-size: 3.2rem;
          font-family: 'PP_Hatton';
          // font-family: 'PP_Pangaia';
          font-weight: 400;
          font-style: italic;
          letter-spacing: -0.1rem;
          color: $main-black;

          .title-num {
            font-size: 1rem;
            margin-bottom: 3rem;
            // color: #484036;
            vertical-align: top;
          }
        }
      }
    }

    .project-wrap {
      position: relative;
      overflow: visible;
      flex: 1;
      height: 100%;

      .project-item {
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(0px) brightness(1);

        
        .con-img-box {
          display: block;
          filter: brightness(0.65);
          width: 100%;
          height: 100vh;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 90vh;
            object-fit: cover;
          }

        }

        &:nth-child(1) {
          z-index: 5;
        }

        &:nth-child(2) {
          z-index: 4;
        }

        &:nth-child(3) {
          z-index: 3;
        }

        .txt-desc{
          position: absolute;
          /* color: #fff; */
          left: 0.8rem;
          bottom: 1.2rem;
          display: flex;
          align-items: center;
          gap: 10px;
          
          span{
            font-size: 20px;
            font-weight: 400;
            padding: 12px 15px;
            border-radius: 1000px;
            background: rgb(255 255 255 / 76%);
            box-sizing: border-box;
            letter-spacing: -0.5px;

            // color: #fff;
            // border: 1px solid;
          }
        }
        .project-desc{
          position: absolute;
          top: 1rem;
          right: 0.8rem;
          color: #fff;
          font-size: 0.65rem;
        }
        .link-code{
          position: absolute;
          bottom: 1.2rem;
          right: 0.8rem;
          color: #fff;
        }


        // .link-box {
        //   display: flex;
        //   flex-direction: column;
        //   font-size: 0.85rem;
        //   gap: 0.3rem;
        //   align-items: flex-end;
        //   font-family: $En-font;
        //   font-style: italic;
        //   padding-right: 0.1rem;
        // }

        .video-box {
          display: block;
          filter: brightness(0.65);
          width: 100%;
          height: 100vh;

          video {
            width: 100%;
            height: 100%;
            height: 90vh;
            object-fit: cover;
            background-position: 50%;
            background-size: cover;
          }

        }
      }
    }
  }
}

.sub-project {
  margin-top: 6rem;

  .project-area2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    .project-list {
      .project-item {
        position: relative;
        display: block;
        transition: filter 0.2s;

        .item-box {
          height: 17rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          video{
            width: 100%;
            height: 100%;
            // height: 90vh;
            object-fit: cover;
            background-position: 50%;
            background-size: cover;
          }
        }

        .txt-desc {
          position: absolute;
          padding: 20px;
          color: #fff;
          font-size: 0.5rem;
          z-index: 9;
        }

        .txt-desc-top {
          top: 0;
        }

        .txt-desc-bott {
          bottom: 0;

          span {
            font-size: 0.4rem;
            border-radius: 21px;
            font-weight: 400;
            padding: 12px 14px;
            backdrop-filter: blur(20px);
            background-color: rgb(89 89 89 / 75%);
          }
        }

        .txt-ani {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          gap: 50px;
          transition: opacity 0.3s ease;
          opacity: 0;

          .txt-ani-box {
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 50px;
            font-weight: 500;
            font-size: 7vw;
            color: #fff;

            span {}
          }
        }

        &:hover .txt-ani {
          opacity: 1;
        }

        &:hover .txt-ani .txt-ani-box {
          animation: rolling 150s linear infinite;
        }

        &:hover .item-box {
          filter: brightness(0.65);
        }
      }

      @keyframes rolling {
        0% {
          transform: translateX(0%);
        }

        100% {
          transform: translateX(-200%);
        }
      }
    }

    .project-list-large {
      grid-column: span 4
    }

    .project-list-small {
      grid-column: span 2;
    }
  }
}

.sc-ing {
  margin-top: 5rem;
  .content-wrap{
    &>.desc{
      font-size: 0.5rem;
      padding: 0.5rem 2vw;
      color: #545758;
      text-align: right;
    }
    .content-list {
      border-top: 1px solid rgb(95 94 94 / 56%);
  
      .content-item {
  
        border-bottom: 1px solid rgb(95 94 94 / 56%);
  
        a {
          display: grid;
          grid-template-columns: 20fr 40fr;
          width: 100%;
          padding: 1.5rem 0 1.7rem 4.5rem;
          transition: all .3s cubic-bezier(.7, 0, .3, 1);
          // opacity: .33;
          opacity: .75;
  
          // color: #ACB4B8;
          &:hover {
            background: linear-gradient(90deg, rgb(172 181 183 / 46%) 50%, transparent 100%);
            padding: 1.5rem 0 1.7rem 3rem;
            opacity: 1;
            // transform: translateX(-20px);
          }
  
          .title {
            font-size: clamp(1.6rem, 1.6vw, 2rem);
            position: relative;
            // font-size: 45px;
            font-weight: bold;
  
            // text-transform: uppercase;
            i {
              font-size: 0.5rem;
              position: absolute;
              top: 0.5rem;
              left: -1.35rem;
              letter-spacing: .04em;
              font-weight: 500;
              line-height: 1.2;
            }
          }
        }
      }
    }

  }

  .text-box {

    .desc {
      // font-size: clamp(.8rem, .6vw, 1.2rem);
      margin-top: 2vh;
      line-height: 1.2;
      font-size: 0.65rem;
      font-weight: 500;
    }

    .hash {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: .8em;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 0.5rem;
      margin-top: 0.2rem;
      opacity: 0.5;
    }
  }
}

.sc-learn {
  margin-top: 5rem;
  display: flex;
      flex-direction: column;
      height: 100vh;
      overflow: hidden;

  .sc-title {
    margin-bottom: 2.5rem;
  }

  .slider {
    display: flex;
        flex: 1;
        align-items: center;
    background: #ecece4;

    // @include desktop{
    //   height: 45vw;
    // }
    // @include tablet{
    //   height: 70vw;
    // }
    // @include mobile{
    //   height: 90vw;
    // }
    .slider-list {
      display: flex;
          gap: 30px;
          padding: 0 50px;
          min-height: 300px;

      .slider-item {
        display: flex;
        align-items: center;
        width: 45vw;
        // width: 31vw;
        background: #fff;
        color: #000;
        padding: 30px;
        border: 1px solid #2f2f2f;
        border-radius: 10px;
        // padding: 1.5rem;
        box-sizing: border-box;
        // overflow: hidden;
        background: #fff;

        @include desktop{
          // width: 31%;
        }
        // @include tablet{
        //   width: 75%;
        //   padding: 1.5rem;
        // }
        // @include mobile{
        //   width: 80%;
        //   padding: 1.5rem;              
        // }
        .slide-top {
          width: 45%;
          .slide-img-box {
            position: relative;
            width: 100%;
            // height: 220px;
            padding-bottom: 61%;
            // overflow: hidden;

            img {
              //   height: 2.5rem;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              object-fit: cover;
            }
          }

        }
      
        .slide-bottom {
          // font-family: $preten-light;
          // border-top: 1px solid #2f2f2f;
          font-size: 0.9vw;
          flex: 1;
          overflow: hidden;
          box-sizing: border-box;

          padding: 0 20px;
          //   @include desktop{
          //     font-size: 1.5vw;
          //   }
          //   @include tablet {
          //     font-size: 3vw;
          //   }
          //   @include mobile {
          //     font-size: 3vw;
          //   }

          .slide-title {
            font-size: 1.7vw;
            text-transform: uppercase;
            //   @include desktop{
            //     font-size: 3.5vw;
            //   }
            //   @include tablet {
            //     font-size: 4.5vw;
            //   }
            //   @include mobile {
            //     font-size: 4vw;
            //   }
          }
        }
      }
    }
  }

  .desc {
    font-size: 0.5rem;
    // margin-left: auto;
    padding: 1rem 2vw;
    background: #ecece4;
  }

  .pan-wrap {
    bottom: 0;
  }
}