@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    src: url(../fonts/Pretendard-Light.subset.woff2);
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url(../fonts/Pretendard-Medium.subset.woff2);
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src: url(../fonts/Pretendard-Regular.subset.woff2);
}
@font-face {
    font-family: 'Pretendard';
    font-weight: bold;
    src: url(../fonts/Pretendard-Bold.subset.woff2);
}